.footer {
    background-color: var(--primarycolor);
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(232, 224, 224); 
}

.footer svg {
    width: 20px;
}
.footer .links, .footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}
.footer .links a, .footer .social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
}
.footer .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    margin: 0 10px;
    transition: all 0.2s ease;
}

.footer .social-icons a:hover {
    opacity: 0.8;
}
.footer .social-icons img {
    width: 20px;
    height: 20px;
}
@media (max-width: 768px) {
    .footer .links a, .footer .social-icons a {
        margin: 5px 10px;
        font-size: 0.9rem;
    }
    .footer .social-icons a {
        width: 35px;
        height: 35px;
    }
    .footer .social-icons img {
        width: 18px;
        height: 18px;
    }
}